/* raiz */
:root {
    --blue: #498ad4;
    --blueS: #498ad4b3;
    --white: #fafafa;
    --whiteS: #fafafaa3;
    --white1: #dcd9d9;
    --white2: #f0ecec;
    --gray: #1e1e1e;
    --grayS: #1e1e1ec3;
    --grayP: #1e1e1e77;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: mare2;
}

body {
    background: var(--white);
    width: 100%;
}
/* raiz */

/* ==> MOBILE  */
/* max-widht -> menor que 500px */

@media screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }
    #nav {
        width: 100vw;
        position: fixed;
    }
    #logo__text {
        display: none;
    }
    nav ul li {
        font-size: 12px;
    }
    section {
        padding-top: 1rem;
        max-width: 100vw;
        height: 100vh;
    }
    #sobre {
        padding-top: 2rem;
        max-width: 100vw;
    }

    #sobre .text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #sobre .text .photos img {
        width: 100%;
        height: 20%;
        display: none;
    }
    #sobre .text h3 {
        font-size: 13px;
    }
    #sobre .text p {
        font-size: 10px;
    }
    #produtos {
        padding-top: 2rem;
        width: 100vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #contato {
        padding-top: 2rem;
    }
    #contato ul {
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    #contato ul li {
        max-width: 3.6em;
        text-align: center;
    }
    #contato .linkC {
        max-width: 3.6em;
        text-align: center;
    }
    .text {
        display: none;
    }
}

/* logo navbar */
nav #logo {
    margin-left: 0.5rem;
    position: fixed;
    width: 50%;
    height: 3.5rem;
}
#logo__img {
    width: 60px;
}
#logo__text {
    position: absolute;
    top: 18px;
    font-family: mare1;
    font-size: 20px;
}
#logo__text span {
    font-size: 13px;
    font-family: mare2;
}
/* logo navbar */

/* navbar links */
#nav {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: var(--white);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;

    position: fixed;
    background: transparent;
    height: 3.5rem;
    width: 100%;
    margin-top: 0.5rem;
}
nav ul a {
    text-decoration: none;
    color: var(--gray);
    margin-right: 1rem;
    transition: 0.3s;
}
nav ul a:hover {
    color: var(--blue);
}
/* navbar links */

/* paginas */
section {
    min-height: 100vh;
    padding-top: 3.5rem;
}

#sobre {
    background: var(--whiteS);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.15);
}
#sobre .text p {
    text-align: justify;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 17px;
}
#sobre .text h3 {
    margin-top: 0.88rem;
    text-align: start;
    margin-left: 1rem;
    font-size: 18px;
}
#sobre .text {
    display: flex;
    width: 80%;
}

#sobre .photos img {
    height: 20rem;
    margin: 1.1rem 0rem;
    width: 33rem;
    margin-right: 1rem;
}

#sobre .photo__p img {
    width: 100%;
}

#produtos {
    background-image: url('./assets/media/img2.png');
    /* background: var(--whiteS); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contato {
    box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.15);
    background-image: url('./assets/media/img3.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contato ul li {
    width: 50rem;
    height: 3rem;
    text-align: center;
    border-radius: 5rem;
    margin-top: 0.5rem;
    background: var(--white);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    /* justify-content: space-between; */
}
#contato ul li a {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: var(--gray);
}
#contato ul li i {
    font-size: 1.8rem;
    color: var(--gray);
    margin-left: 1rem;
    margin-right: 20rem;
}

#contato ul li:hover {
    background: var(--whiteS);
    color: var(--white);
}
/* paginas */

/* fontes  */
@font-face {
    font-family: mare1;
    src: url(./assets/font/op1.otf);
}

@font-face {
    font-family: mare2;
    src: url(./assets/font/op2.otf);
}
/* fontes  */

/* scrollbar */
body::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: var(--white2); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue); /* color of the scroll thumb */
}
/* scrollbar */
